@font-face {
    font-family: Vazir FD;
    src: url('../assets/fonts/Vazir-FD.eot');
    src: url('../assets/fonts/Vazir-FD.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Vazir-FD.woff2') format('woff2'),
    url('../assets/fonts/Vazir-FD.woff') format('woff'),
    url('../assets/fonts/Vazir-FD.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}
